[flake8]
max-line-length = 120
select = B,C,E,F,W,B9,T4
ignore = E203, E266, E501, W503, E712, E711
per-file-ignores =
    __init__.py: F401
    app/core/exception.py: F811
    app/cli/plugin/init.py: W605
exclude =
    .venv,
    .git,
    tests/*,
    __pycache__,
    build,
    dist
