[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cymysql = "==0.9.13"
requests = "==2.18.4"
pipfile = "*"
oss2 = "==2.6.1"
Flask = "==1.0.2"
Flask-SQLAlchemy = "==2.3.2"
Flask-WTF = "==0.14.2"
Flask-Cors = "==2.1.0"
Lin-CMS = "==0.2.0b2"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
